<?xml version="1.0"?>

<robot name="pioneer3dx"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find pioneer3dx_description)/urdf/pioneer3dx/pioneer3dx_wheel.xacro"/>

  <!-- Chassis -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.16"/>
      <mass value="5.67"/>
      <inertia ixx="0.07" ixy="0" ixz="0" iyy="08" iyz="0" izz="0.10"/>
    </inertial>
    <collision name="collision">
      <origin xyz="0 0 0.16"/>
      <geometry>
        <box size="0.445 0.277 0.17"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.20"/>
      <geometry name="pioneer_geom">
        <mesh filename="package://pioneer3dx_description/meshes/pioneer3dx/chassis.dae"/>
      </geometry>
    </visual>
  </link>

  <!-- Castor -->
  <link name="castor">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="-0.2 0 0.04"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <collision>
      <origin xyz="-0.2 0 0.04"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.2 0 0.04"/>
      <geometry name="castor_geom">
        <sphere radius="0.04"/>
      </geometry>
      <material name="castor">
        <color rgba="0.038 0.038 0.038 1.0"/>
      </material>
    </visual>
   </link>
  <gazebo reference="castor">
    <material>Gazebo/FlatBlack</material>
    <mu1>0</mu1>
    <mu2>0</mu2>
  </gazebo>
  <joint name="base_castor_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="castor"/>
  </joint>

  <!-- Wheels -->
  <xacro:p3dx_wheel suffix="right_wheel" parent="base_link" reflect="1"/>
  <xacro:p3dx_wheel suffix="left_wheel" parent="base_link" reflect="0"/>

  <!-- CONTROLLERS -->
  <gazebo>
  <!-- Robot kinematic properties -->
  <!-- These values were taken from the Pionner 3DX manual (and tech support)
  <wheelDiameter>0.1953</wheelDiameter>
  <wheelSeparation>0.325</wheelSeparation>            -->
  <!-- These values were taken from urdf and mesh files of the robot model
  <wheelDiameter>0.19</wheelDiameter>
  <wheelSeparation>0.33</wheelSeparation>              -->    

    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100</updateRate>
      <leftJoint>base_link_right_wheel_link_joint</leftJoint>
      <rightJoint>base_link_left_wheel_link_joint</rightJoint>
      <wheelSeparation>0.34</wheelSeparation>
      <wheelDiameter>0.22</wheelDiameter>
      <torque>5</torque>
      <commandTopic>/p3dx/cmd_vel</commandTopic>
      <odometryTopic>/p3dx/odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>
    </plugin>
    <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
      <updateRate>100.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/p3dx/base_pose_ground_truth</topicName>
      <frameName>map</frameName>
    </plugin>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/p3dx</robotNamespace>
    </plugin>
  </gazebo>
</robot>
