<?xml version="1.0"?>

<robot name="pioneer3dx_laser_camera"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

    <property name="M_PI" value="3.1415926535897931" />

    <!-- PIONEER 3DX BASE -->
    <xacro:include filename="$(find pioneer3dx_description)/urdf/pioneer3dx/pioneer3dx.xacro"/>
    <pioneer3dx />

    <!-- HOKUYO LASER ATTACHMENT -->
    <xacro:include filename="$(find pioneer3dx_description)/urdf/sensors/gz_hokuyo_urg.xacro"/>
    <xacro:gz_hokuyo_urg parent="base_link" topic="p3dx/base_scan/scan">
        <origin xyz="0.0 0.0 0.295" rpy="0 0 0" />
    </xacro:gz_hokuyo_urg>

    <!-- Forward facing camera -->
    <xacro:include filename="$(find pioneer3dx_description)/urdf/sensors/gz_camera.xacro"/>
    <xacro:gz_camera parent="base_link" topic="/p3dx/camera_front">
      <origin xyz="0.240 0.0 0.20" rpy="0 0 0"/>
    </xacro:gz_camera>

    <!-- Forklift -->
    <xacro:include filename="$(find pioneer3dx_description)/urdf/forklift/forklift.urdf.xacro" />
    <xacro:forklift name="front_forklift" parent="base_link">
      <origin xyz="0.21 0.0 0.04" rpy="0 0.0 0.0"/>
    </xacro:forklift>
</robot>
