<launch>
  <!-- Run the stage simulator -->
  <node pkg="mystage_ros" type="stageros" name="stage" 
        args="$(env HOME)/ros/worlds/stage/factory_laser_with_landmarks.world"
        required="true">
  </node>
  
  <!-- Run the node which converts Laser info to PointCloud -->
  <node pkg="laser_filters" type="scan_to_cloud_filter_chain"
      name="laser_to_cloud">
    <rosparam command="load" file="$(find tp04_pcl)/laser_config.yaml" />
    <param name="high_fidelity" value="true" />
    <param name="target_frame" type="string" value="robot_0/odom" />
    <remap from="scan" to="robot_0/base_scan" />
  </node>

  <!-- Run our application -->
  <node pkg="tp04_pcl" type="tp04_pcl" name="tp04_pcl" required="true" cwd="node"/>
</launch>
