<launch>
  <arg name="world_name" default="$(find factory_gazebo)/worlds/factory_world.sdf"/>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="paused" default="true" />

  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- Add working pieces -->
<!--  <node name="tbox0" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox0 -x 0.37 -y 0 -z 0.102 -P 0.0 -Y 3.14159"  respawn="false" output="screen"/> -->
  <node name="tbox1" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox1 -x 3.05 -y -3.0 -z 0.001 -P 0.0 -Y 1.5708"  respawn="false" output="screen"/>
  <node name="tbox2" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox2 -x 2.55 -y -3.0 -z 0.001 -P 0.0 -Y 1.5708"  respawn="false" output="screen"/>
  <node name="tbox3" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox3 -x 2.05 -y -3.0 -z 0.001 -P 0.0 -Y 1.5708"  respawn="false" output="screen"/>
  <node name="tbox4" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox4 -x 1.55 -y -3.0 -z 0.001 -P 0.0 -Y 1.5708"  respawn="false" output="screen"/>
  <node name="tbox5" pkg="gazebo_ros" type="spawn_model" args="-file $(find factory_gazebo)/models/tbox/model.sdf -sdf -model tbox5 -x 1.05 -y -3.0 -z 0.001 -P 0.0 -Y 1.5708"  respawn="false" output="screen"/>
</launch>
