<?xml version="1.0"?>

<!-- Use the following commands to mannualy generate the SDF file from the URDF file:
  $ /opt/ros/indigo/share/xacro/xacro.py  tbox.urdf.xacro > tmp.urdf 
  $ gz sdf -p tmp.urdf > model.sdf
-->

<robot name="tbox"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="name" value="tbox" /> <!-- Box height -->
  <xacro:property name="boxh" value=".15" /> <!-- Box height -->
  <xacro:property name="boxw" value=".14" /> <!-- Box width -->
  <xacro:property name="boxl" value=".26" /> <!-- Box length -->
  <xacro:property name="legw" value=".02" /> <!-- Legs width -->    
  <xacro:property name="legh" value=".06" /> <!-- Legs height -->
  <xacro:property name="ledr" value=".01" /> <!-- LED radius -->
  <xacro:property name="leds" value=".03" /> <!-- LED space to top -->
  
  <!-- Internal macros -->
  <!-- Macro for leg -->
  <xacro:macro name="tbox_leg" params="name parent *origin">
    <link name="${name}">
      <inertial>
        <insert_block name="origin" />
        <mass value="0.02"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>

      <collision name="collision">
        <insert_block name="origin" />
        <geometry>
          <box size="${legw} ${legw} ${legh}"/>
        </geometry>
      </collision>

      <visual name="visual">
        <insert_block name="origin" />
        <geometry>
          <box size="${legw} ${legw} ${legh}"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 0.851 1.0"/>
        </material>
      </visual>
    </link>
    <gazebo reference="${name}">
      <material>Gazebo/Gold</material>
    </gazebo>
    <!-- Attach right fingers to left fingers -->
    <joint name="${name}_base_link_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
  </xacro:macro>

  <!-- tbox macro -->
  <!-- Base link of the tbox -->
  <gazebo reference="${name}_base_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <link name="${name}_base_link">
    <inertial>
      <origin xyz="0.0 0.0 ${boxh/2+legh}" rpy="0.0 0.0 0.0"/>
      <mass value="0.5"/>
      <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
    </inertial>
     <collision name="collision">
      <origin xyz="0.0 0.0 ${boxh/2+legh}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${boxw} ${boxl} ${boxh}"/>
      </geometry>
    </collision>
     <visual name="visual">
      <origin xyz="0.0 0.0 ${boxh/2+legh}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${boxw} ${boxl} ${boxh}"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1.0"/>
      </material>
    </visual>
  </link>

    <!-- Add left front leg -->
    <xacro:tbox_leg name="${name}_left_front_leg" parent="${name}_base_link">
      <origin xyz="${boxw/2-legw/2} ${boxl/2-legw/2} ${legh/2}" rpy="0.0 0.0 0.0"/>
    </xacro:tbox_leg>

    <!-- Add right front leg -->
    <xacro:tbox_leg name="${name}_right_front_leg" parent="${name}_base_link">
      <origin xyz="${boxw/2-legw/2} ${-boxl/2+legw/2} ${legh/2}" rpy="0.0 0.0 0.0"/>
    </xacro:tbox_leg>

    <!-- Add left back leg -->
    <xacro:tbox_leg name="${name}_left_back_leg" parent="${name}_base_link">
      <origin xyz="${-boxw/2+legw/2} ${boxl/2-legw/2} ${legh/2}" rpy="0.0 0.0 0.0"/>
    </xacro:tbox_leg>

    <!-- Add right back leg -->
    <xacro:tbox_leg name="${name}_right_back_leg" parent="${name}_base_link">
      <origin xyz="${-boxw/2+legw/2} ${-boxl/2+legw/2} ${legh/2}" rpy="0.0 0.0 0.0"/>
    </xacro:tbox_leg>

    <!-- Add LED -->
    <link name="${name}_led_link">
      <inertial>
        <origin xyz="${boxw/2} 0.0 ${boxh+legh-leds}" rpy="0.0 0.0 0.0"/>
        <mass value="0.005"/>
        <!-- Inertia is 2/3*m*r^2 = 2/3*0.005*0.05^2-->
        <inertia ixx="0.000008" ixy="0" ixz="0" iyy="0.000008" iyz="0" izz="0.000008"/>
      </inertial>

      <collision name="collision">
        <origin xyz="${boxw/2} 0.0 ${boxh+legh-leds}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <sphere radius="${ledr}"/>
        </geometry>
      </collision>

      <visual name="visual">
        <origin xyz="${boxw/2} 0.0 ${boxh+legh-leds}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <sphere radius="${ledr}"/>
        </geometry>
        <material name="red">
          <color rgba="1 0.0 0.0 1.0"/>
        </material>
      </visual>
    </link>
    <gazebo reference="${name}_led_link">
      <material>Gazebo/Red</material>
    </gazebo>
    <!-- Attach LED to base -->
    <joint name="${name}_led_link_joint" type="fixed">
      <parent link="${name}_base_link"/>
      <child link="${name}_led_link"/>
    </joint>

    <!-- CONTROLLERS -->
    <gazebo>
      <plugin name="${name}_tbox_controller" filename="libtbox_plugin.so">
        <alwaysOn>true</alwaysOn>
        <update>100</update>
        <updateRate>10.0</updateRate>
        <ledLink>${name}_led_link</ledLink>
        <baseLink>${name}_base_link</baseLink>
      </plugin>
    </gazebo>
</robot>
