<launch>

  <param name="use_sim_time" value="true" />

  <!-- Load Gazebo (empty) world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find MYROBOT_gazebo)/worlds/MYROBOT.world"/>-->
    <arg name="paused" value="true"/>
  </include>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find pioneer3dx_description)/urdf/pioneer3dx/pioneer3dx.xacro" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf
              -param robot_description
              -model pioneer3dx
              -z 0.051"
        respawn="false" output="screen" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

<!--  <node name="state_publisher" pkg="pioneer3dx_description" type="publisher" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

</launch>
