<?xml version="1.0"?>

<model>
  <name>marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hugo Costelha</name>
    <email>hugo.costelha@ipleiria.pt</email>
  </author>

  <description>
    Simple plane marker to attach to a wall. It will reflect the lasers with high intensity (0.8).
  </description>
</model>
