<launch>
  <group ns="robot_0">
    <!-- Run the stage simulator -->
    <include file="$(find tl1_apps)/launch/tl1_simulator.launch"/>
    
    <!-- Run our application -->
    <node pkg="tl1_apps" type="tl1_localization" name="tl1_localization" required="true" cwd="node" output="screen"/>
  </group>
</launch>
