<?xml version="1.0"?>

<model>
  <name>UTM_30LX</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hugo Costelha</name>
    <email>hugo.costelha@ipleiria.pt</email>
  </author>

  <description>
    Hokuyo model, adapted from John Hsu hokuyo model
  </description>
</model>
