<launch>
  <!-- Run the stage simulator -->
  <node pkg="mystage_ros" type="stageros" name="stage" 
        args="$(env HOME)/ros/worlds/stage/factory_laser_with_landmarks.world"
        required="true"/>
  
  <!-- Run our application -->
  <node pkg="tp05" type="tp05" name="tp05" required="true" cwd="node" output="screen"/>
</launch>
