<launch>
  <!-- Run the stage simulator -->
  <node pkg="mystage_ros" type="stageros" name="stage" 
        args="$(env HOME)/ros/worlds/stage/map_laser_with_landmarks2.world"
        required="true"/>

  <!-- Run our application -->
  <!-- Localization Node -->
  <node pkg="tp10" type="tp10_localization_node" name="localization_node" required="true" cwd="node" output="screen"/>
  <!-- Navigation Node -->
  <node pkg="tp10" type="tp10_navigation_node" name="navigation_node" required="true" cwd="node" output="screen"/>
</launch>
